body{
    padding: 0;
    margin: 0;
}


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}


.btnAdd{
    margin-left: 5px;
}


ul{
    list-style-type: none;
}

.list-items{
    background-color: #E3E3E3;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}



.box2{
    border-top: 2px white solid;
    display: flex;
}




